In [4]:
import pandas as pd
import numpy as np

In [ ]:

"""
Built-in aggragation functions

'count / nunique' – non-null values / count number of unique values
'min / max' – minimum/maximum
'first / last' - return first or last value per group
'unique' - all unique values from the group
'std' – standard deviation
'sum' – sum of values
'mean / median / mode' – mean/median/mode
'var' - unbiased variance
'mad' - mean absolute deviation
'skew' - unbiased skew
'sem' - standard error of the mean
'quantile' - quantile
"""

In [7]:
df = pd.DataFrame(
    {
        "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8),
    }
)
df

     A      B         C         D
0  foo    one -0.836580 -1.138248
1  bar    one -1.257747 -1.108387
2  foo    two  0.537871  0.675860
3  bar  three -1.223792  1.845345
4  foo    two  1.484190  0.529673
5  bar    two -0.267749 -0.825569
6  foo    one  1.554796  1.425633
7  foo  three  0.357319 -0.689534

In [ ]:
aggregations = {
    'DateTime': ['first', 'last', 'count'],
    'Latitude': 'mean',
    'Longitude': 'mean',
    'A2_RSSI': ['min', 'mean', 'std'],
    'SNR1': ['min', 'mean', 'std'],
    'SNR2': ['min', 'mean', 'std']}
df_grouped = df.groupby('TourID').agg(aggregations)