In [1]:
from datetime import date, datetime

from sqlalchemy import create_engine, Column, Integer, String, ForeignKey, select, event, Date, DateTime
from sqlalchemy.orm import Session, declarative_base, relationship

# engine = create_engine("sqlite:///:memory:", echo=True, future=True)
# engine = create_engine("sqlite:///my_file.sqlite", echo=True, future=True)
engine = create_engine("postgresql://postgres:mysecretpassword@localhost:5432/postgres", echo=True, future=True)

In [2]:
def _fk_pragma_on_connect(dbapi_con, con_record):
    dbapi_con.execute('PRAGMA journal_mode = MEMORY')

if engine.url.drivername == 'sqlite':
    event.listen(engine, 'connect', _fk_pragma_on_connect)
    print("Added FOREIGN_KEY pragma event for sqlite.")


# @event.listens_for(engine, "connect")
# def set_sqlite_pragma(dbapi_connection, connection_record):
#     cursor = dbapi_connection.cursor()
#     cursor.execute("PRAGMA foreign_keys=ON")
#     cursor.close()

In [3]:
Base = declarative_base()

In [4]:
class User(Base):
    __tablename__ = 'user_account'

    id = Column(Integer, primary_key=True)
    name = Column(String(30))
    fullname = Column(String)
    date_column = Column(Date)
    datetime_column = Column(DateTime)
    
    addresses = relationship("Address", back_populates="user")
    
    def __repr__(self):
       return f"User(id={self.id!r}, name={self.name!r}, fullname={self.fullname!r}, date_column={self.date_column!r}, datetime_column={self.datetime_column})"


class Address(Base):
    __tablename__ = 'address'

    id = Column(Integer, primary_key=True)
    email_address = Column(String, nullable=False)
    user_id = Column(Integer, ForeignKey('user_account.id'))

    user = relationship("User", back_populates="addresses")

    def __repr__(self):
        return f"Address(id={self.id!r}, email_address={self.email_address!r})"

In [5]:
Base.metadata.create_all(engine)

2022-02-12 21:14:53,511 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2022-02-12 21:14:53,512 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-02-12 21:14:53,516 INFO sqlalchemy.engine.Engine select current_schema()
2022-02-12 21:14:53,517 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-02-12 21:14:53,521 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2022-02-12 21:14:53,522 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-02-12 21:14:53,526 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-12 21:14:53,527 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-02-12 21:14:53,527 INFO sqlalchemy.engine.Engine [generated in 0.00053s] {'name': 'user_account'}
2022-02-12 21:14:53,531 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-02-12 21:14:53,532 INFO sqlalchemy.engine.Engine [cached since 0.004989s ago] {'name': 'address'}
2022-02-12 21:14:53,535 INFO sqlalchemy.engine.Engine
CREATE TABLE user_account (
	id SERIAL NOT NULL,
	name VARCHAR(30),
	fullname VARCHAR,
	date_column DATE,
	datetime_column TIMESTAMP WITHOUT TIME ZONE,
	PRIMARY KEY (id)
)


2022-02-12 21:14:53,535 INFO sqlalchemy.engine.Engine [no key 0.00060s] {}
2022-02-12 21:14:53,548 INFO sqlalchemy.engine.Engine
CREATE TABLE address (
	id SERIAL NOT NULL,
	email_address VARCHAR NOT NULL,
	user_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES user_account (id)
)


2022-02-12 21:14:53,548 INFO sqlalchemy.engine.Engine [no key 0.00060s] {}
2022-02-12 21:14:53,558 INFO sqlalchemy.engine.Engine COMMIT

In [6]:
sandy = User(name="sandy", fullname="Sandy Cheeks", date_column=date.today(), datetime_column=datetime.now())
squidward = User(name="squidward", fullname="Squidward Tentacles", date_column=date.today(), datetime_column=datetime.now())
krabs = User(name="ehkrabs", fullname="Eugene H. Krabs", date_column=date.today(), datetime_column=datetime.now())

In [7]:
sandy

User(id=None, name='sandy', fullname='Sandy Cheeks', date_column=datetime.date(2022, 2, 12), datetime_column=2022-02-12 21:14:53.600779)

In [8]:
# Adding users to the database

session = Session(engine, expire_on_commit=False)
session.add(sandy)  # add single
session.add_all([squidward, krabs])  # add multi
session.commit()
session.close()

# (?)
# Both, 'sqlalchemy.orm.Session' and the database transaction can accumulate changes before persisting them.
# - session.flush() creates a transaction, if none is open, and adds all changes of the session.
# - session.commit() creates a transaction, if none is open, adds all changes of the session and commits the transaction.
# - session.rollback() cancels all changes of the session, and rolls back the transaction, if one was opened for the session.

2022-02-12 21:14:53,711 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-12 21:14:53,715 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname, date_column, datetime_column) VALUES (%(name)s, %(fullname)s, %(date_column)s, %(datetime_column)s) RETURNING user_account.id
2022-02-12 21:14:53,716 INFO sqlalchemy.engine.Engine [generated in 0.00105s] ({'name': 'sandy', 'fullname': 'Sandy Cheeks', 'date_column': datetime.date(2022, 2, 12), 'datetime_column': datetime.datetime(2022, 2, 12, 21, 14, 53, 600779)}, {'name': 'squidward', 'fullname': 'Squidward Tentacles', 'date_column': datetime.date(2022, 2, 12), 'datetime_column': datetime.datetime(2022, 2, 12, 21, 14, 53, 605542)}, {'name': 'ehkrabs', 'fullname': 'Eugene H. Krabs', 'date_column': datetime.date(2022, 2, 12), 'datetime_column': datetime.datetime(2022, 2, 12, 21, 14, 53, 605637)})
2022-02-12 21:14:53,724 INFO sqlalchemy.engine.Engine COMMIT

In [9]:
# not working, if 'expire_on_commit' within the creation of the session is not set to 'True'.

sandy

User(id=1, name='sandy', fullname='Sandy Cheeks', date_column=datetime.date(2022, 2, 12), datetime_column=2022-02-12 21:14:53.600779)

In [10]:
with Session(engine) as session:
    row = session.execute(select(User)).first()  # .all()
    print(row)

2022-02-12 21:14:53,867 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-12 21:14:53,870 INFO sqlalchemy.engine.Engine SELECT user_account.id, user_account.name, user_account.fullname, user_account.date_column, user_account.datetime_column
FROM user_account
2022-02-12 21:14:53,871 INFO sqlalchemy.engine.Engine [generated in 0.00151s] {}
(User(id=1, name='sandy', fullname='Sandy Cheeks', date_column=datetime.date(2022, 2, 12), datetime_column=2022-02-12 21:14:53.600779),)
2022-02-12 21:14:53,875 INFO sqlalchemy.engine.Engine ROLLBACK

In [11]:
with Session(engine) as session:
    result = session.execute(select(User))
    for row in result:
        print(row)

2022-02-12 21:14:53,915 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-12 21:14:53,916 INFO sqlalchemy.engine.Engine SELECT user_account.id, user_account.name, user_account.fullname, user_account.date_column, user_account.datetime_column
FROM user_account
2022-02-12 21:14:53,917 INFO sqlalchemy.engine.Engine [cached since 0.0469s ago] {}
(User(id=1, name='sandy', fullname='Sandy Cheeks', date_column=datetime.date(2022, 2, 12), datetime_column=2022-02-12 21:14:53.600779),)
(User(id=2, name='squidward', fullname='Squidward Tentacles', date_column=datetime.date(2022, 2, 12), datetime_column=2022-02-12 21:14:53.605542),)
(User(id=3, name='ehkrabs', fullname='Eugene H. Krabs', date_column=datetime.date(2022, 2, 12), datetime_column=2022-02-12 21:14:53.605637),)
2022-02-12 21:14:53,922 INFO sqlalchemy.engine.Engine ROLLBACK

In [12]:
# Reading an object from the db

with Session(engine) as session:
    sandy = session.execute(select(User).filter_by(name="sandy")).scalar_one()
sandy

2022-02-12 21:14:53,958 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-12 21:14:53,961 INFO sqlalchemy.engine.Engine SELECT user_account.id, user_account.name, user_account.fullname, user_account.date_column, user_account.datetime_column
FROM user_account
WHERE user_account.name = %(name_1)s
2022-02-12 21:14:53,962 INFO sqlalchemy.engine.Engine [generated in 0.00117s] {'name_1': 'sandy'}
2022-02-12 21:14:53,966 INFO sqlalchemy.engine.Engine ROLLBACK

User(id=1, name='sandy', fullname='Sandy Cheeks', date_column=datetime.date(2022, 2, 12), datetime_column=2022-02-12 21:14:53.600779)

In [13]:
# Reading multiple objects from the db

with Session(engine) as session:
    result = session.execute(select(User))
    users = [row for row in result]
print(users)

2022-02-12 21:14:54,014 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-12 21:14:54,015 INFO sqlalchemy.engine.Engine SELECT user_account.id, user_account.name, user_account.fullname, user_account.date_column, user_account.datetime_column
FROM user_account
2022-02-12 21:14:54,016 INFO sqlalchemy.engine.Engine [cached since 0.1464s ago] {}
2022-02-12 21:14:54,020 INFO sqlalchemy.engine.Engine ROLLBACK
[(User(id=1, name='sandy', fullname='Sandy Cheeks', date_column=datetime.date(2022, 2, 12), datetime_column=2022-02-12 21:14:53.600779),), (User(id=2, name='squidward', fullname='Squidward Tentacles', date_column=datetime.date(2022, 2, 12), datetime_column=2022-02-12 21:14:53.605542),), (User(id=3, name='ehkrabs', fullname='Eugene H. Krabs', date_column=datetime.date(2022, 2, 12), datetime_column=2022-02-12 21:14:53.605637),)]

In [14]:
# Updating an object in the db

with Session(engine) as session:
    sandy = session.execute(select(User).filter_by(name="sandy")).scalar_one()
    print(sandy)
    sandy.fullname = "Sandy Beaches"
    session.commit()

2022-02-12 21:14:54,068 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-12 21:14:54,070 INFO sqlalchemy.engine.Engine SELECT user_account.id, user_account.name, user_account.fullname, user_account.date_column, user_account.datetime_column
FROM user_account
WHERE user_account.name = %(name_1)s
2022-02-12 21:14:54,071 INFO sqlalchemy.engine.Engine [cached since 0.1102s ago] {'name_1': 'sandy'}
User(id=1, name='sandy', fullname='Sandy Cheeks', date_column=datetime.date(2022, 2, 12), datetime_column=2022-02-12 21:14:53.600779)
2022-02-12 21:14:54,076 INFO sqlalchemy.engine.Engine UPDATE user_account SET fullname=%(fullname)s WHERE user_account.id = %(user_account_id)s
2022-02-12 21:14:54,077 INFO sqlalchemy.engine.Engine [generated in 0.00113s] {'fullname': 'Sandy Beaches', 'user_account_id': 1}
2022-02-12 21:14:54,081 INFO sqlalchemy.engine.Engine COMMIT

In [15]:
# Parent instance <User at 0x10fede1c0> is not bound to a Session; lazy load operation of attribute 'addresses' cannot proceed

# sandy.addresses

In [16]:
u1 = User(name='pkrabs', fullname='Pearl Krabs')
u1.addresses

[]

In [17]:
a1 = Address(email_address="pearl.krabs@gmail.com")
type(a1.user)

NoneType

In [18]:
u1.addresses.append(a1)

In [19]:
u1.addresses

[Address(id=None, email_address='pearl.krabs@gmail.com')]

In [20]:
a1.user

User(id=None, name='pkrabs', fullname='Pearl Krabs', date_column=None, datetime_column=None)

In [21]:
a2 = Address(email_address="pearl@aol.com", user=u1)  # Alternatively 'a2.user = u1'
u1.addresses

[Address(id=None, email_address='pearl.krabs@gmail.com'),
 Address(id=None, email_address='pearl@aol.com')]

In [22]:
session = Session(engine, expire_on_commit=False)
session.add(u1)
print(u1 in session)
print(a1 in session)
print(a2 in session)

True
True
True

In [23]:
session.commit()
session.close()

2022-02-12 21:14:54,488 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-12 21:14:54,490 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname, date_column, datetime_column) VALUES (%(name)s, %(fullname)s, %(date_column)s, %(datetime_column)s) RETURNING user_account.id
2022-02-12 21:14:54,491 INFO sqlalchemy.engine.Engine [generated in 0.00081s] {'name': 'pkrabs', 'fullname': 'Pearl Krabs', 'date_column': None, 'datetime_column': None}
2022-02-12 21:14:54,496 INFO sqlalchemy.engine.Engine INSERT INTO address (email_address, user_id) VALUES (%(email_address)s, %(user_id)s) RETURNING address.id
2022-02-12 21:14:54,496 INFO sqlalchemy.engine.Engine [generated in 0.00089s] ({'email_address': 'pearl.krabs@gmail.com', 'user_id': 4}, {'email_address': 'pearl@aol.com', 'user_id': 4})
2022-02-12 21:14:54,500 INFO sqlalchemy.engine.Engine COMMIT

In [24]:
u1.addresses

[Address(id=1, email_address='pearl.krabs@gmail.com'),
 Address(id=2, email_address='pearl@aol.com')]

In [25]:
print(
    select(Address).
    where(Address.user == u1)
)

SELECT address.id, address.email_address, address.user_id
FROM address
WHERE :param_1 = address.user_id

In [26]:
addresses = []
stmt = select(Address).where(Address.user == u1)
with Session(engine, expire_on_commit=False) as session:
    result = session.execute(stmt)
    for row in result:
        addresses.append(row)
addresses

2022-02-12 21:14:54,642 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-12 21:14:54,645 INFO sqlalchemy.engine.Engine SELECT address.id, address.email_address, address.user_id
FROM address
WHERE %(param_1)s = address.user_id
2022-02-12 21:14:54,645 INFO sqlalchemy.engine.Engine [generated in 0.00094s] {'param_1': 4}
2022-02-12 21:14:54,649 INFO sqlalchemy.engine.Engine ROLLBACK

[(Address(id=1, email_address='pearl.krabs@gmail.com'),),
 (Address(id=2, email_address='pearl@aol.com'),)]

In [27]:
with Session(engine, expire_on_commit=False) as session:
    result = session.query(Address).filter(Address.user==u1).count()
print(result)

2022-02-12 21:14:54,702 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-12 21:14:54,707 INFO sqlalchemy.engine.Engine SELECT count(*) AS count_1
FROM (SELECT address.id AS address_id, address.email_address AS address_email_address, address.user_id AS address_user_id
FROM address
WHERE %(param_1)s = address.user_id) AS anon_1
2022-02-12 21:14:54,709 INFO sqlalchemy.engine.Engine [generated in 0.00142s] {'param_1': 4}
2022-02-12 21:14:54,714 INFO sqlalchemy.engine.Engine ROLLBACK
2