In [5]:
import pandas as pd
import numpy as np

In [29]:
def my_sum(numbers):
    # return numbers.sum()
    sum = 0
    for number in numbers:
        sum += number
    return sum

In [28]:
for item in df['A']:
    print(item)

11
22
33
44
55

In [6]:
df = pd.DataFrame({'A': [11, 22, 33, 44, 55], 'B': [0, 1, 2, np.nan, 4]})
df

    A    B
0  11  0.0
1  22  1.0
2  33  2.0
3  44  NaN
4  55  4.0

In [7]:
df['A'].rolling(2).sum()

0     NaN
1    33.0
2    55.0
3    77.0
4    99.0
Name: A, dtype: float64

In [31]:
df['A'].rolling(window=2, min_periods=2).apply(my_sum)

0     NaN
1    33.0
2    55.0
3    77.0
4    99.0
Name: A, dtype: float64

In [16]:
df['A']

0    11
1    22
2    33
3    44
4    55
Name: A, dtype: int64